.git
.env
/vendor
/node_modules
/public/storage
/public/build
/storage/*.key
/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
docker-compose.yml
Dockerfile
.dockerignore
.phpunit.result.cache
phpunit.xml
.editorconfig
.gitattributes
README.md
